{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static %}
{% block title %}
<title>Delivery Scanner</title>
{% endblock %}
{% block body %}

    <nav class="navbar navbar-light bg-light" style='margin-left: -10px; margin-right: -10px; padding-bottom: 40px;'>
        <center></center>
        <center>
        <img src ="{% static 'images/logo.png' %}" width=200px class=py-5>
           

            
    <form method="GET" action="/search/" id="searchform">
          <input class="searchfield form-control form-control-lg" id="main-search" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
          <button type="button" class="btn btn-info btn-lg" id="main-search-btn"><i class="fas fa-search"></i></button>
      </form>
            
            
            <h6 class="py-3 loc"> <i class="fas fa-map-pin"></i> Location:  <a class="a-edit" href="">Saadiyat Island</a></h6>
            
            </center>
    <center></center> 
    </nav>
	  <section class ='page-main'>
          <div class ='row'>
              {% for result in results %}
              {% if result.price > 11 %}
              {% if forloop.counter < 3000 %}

              <div class = 'col-6 col-md-4 col-xl-3'>
                  <div class="card work-display-card">
                      {% if not result.imageurl %}
                      <img class="card-img-top" src="{% static 'images/thumbnail.jpg' %}" >
                      {% else %}
                      <img class="card-img-top" src="{{ result.imageurl }}" >
                      {% endif %}
                      
                      <div class="card-body">
                        <div class = 'row'>
                            <div class = 'col-8'>
                                <h5 class="card-title">{{result.dishname }}</h5>
                            </div>
                            <div class = 'col-4'>
                                
                                <p class="text-muted" style="text-align: right;">AED {{ result.price}}</p>
                            </div>
                            <div class = 'col-12'>
                                <center>
                                <p>Restaurant: {{ result.restaurant}}</p>
                                <a href="{{result.foodurl}}" class="view-btn">Order Now at {{ result.deliveryapp}}<i class="fas fa-shopping-cart"></i></a>
                                    
                                    
                                </center>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
          
              {% endif %}
              {% endif %}
              
              {% empty %}
                <h5>No results found.</h5>
              {% endfor %}
              
              

</div></section>
      
{% endblock %}

